body {
    font-family: 'Roboto', sans-serif;
}

select {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

select option {
    text-align: center;
}